In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
data = pd.read_csv('amazon.csv', encoding = "iso 8859-1", parse_dates = ['date'])

In [22]:
data.dtypes

year               int64
state             object
month             object
number           float64
date      datetime64[ns]
dtype: object

# 1 .Displaying top 5 rows of the dataset

In [23]:
data.head(5)

   year state    month  number       date
0  1998  Acre  Janeiro     0.0 1998-01-01
1  1999  Acre  Janeiro     0.0 1999-01-01
2  2000  Acre  Janeiro     0.0 2000-01-01
3  2001  Acre  Janeiro     0.0 2001-01-01
4  2002  Acre  Janeiro     0.0 2002-01-01

# 2.Displaying bottom 5 wors of the dataset

In [24]:
data.tail(5)

      year      state     month  number       date
6449  2012  Tocantins  Dezembro   128.0 2012-01-01
6450  2013  Tocantins  Dezembro    85.0 2013-01-01
6451  2014  Tocantins  Dezembro   223.0 2014-01-01
6452  2015  Tocantins  Dezembro   373.0 2015-01-01
6453  2016  Tocantins  Dezembro   119.0 2016-01-01

# 3.Find Shape of Our Dataset(Number of Rows and number of columns)

In [25]:
data.shape

(6454, 5)

In [26]:
print("Number of Rows is: ", data.shape[0])
print("Number of Columns is: ", data.shape[1])

Number of Rows 6454
Number of Columns 5